RewriteEngine On

RewriteRule ^ping$ ping.php [L,QSA]
RewriteRule ^upload$ upload.php [L,QSA]
RewriteRule ^upload-pdf$ upload_pdf.php [L,QSA]
RewriteRule ^nota/(.+)$ index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
